<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left Side: Logo -->
      <div class="col-md-8 text-center text-md-start mb-3 mb-md-0">
        <img src="assets/images/logo1.png" alt="Logo" class="img-fluid" style="max-width: 200px;" />
        <br>
        <p class="mb-0 logo-text">Copyright 2024 KanlasTech</p>

      </div>

      <!-- Right Side: Navigation Links -->
      <div class="col-md-4">
        <div class="row">
          <!-- Website Links -->
          <div class="col-4">
            <h6>Website</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none">Home</a></li>
              <li><a href="#" class="text-white text-decoration-none">Solutions</a></li>
              <li><a href="#" class="text-white text-decoration-none">Resources</a></li>
              <li><a href="#" class="text-white text-decoration-none">Our Company</a></li>
            </ul>
          </div>

          <!-- Products Links -->
          <div class="col-4">
            <h6>Products</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none">LOYA</a></li>
              <li><a href="#" class="text-white text-decoration-none">Reppoo</a></li>
            </ul>
          </div>

          <!-- Documentation Links -->
          <div class="col-4">
            <h6>Documentation</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none">Privacy Policy</a></li>
              <li><a href="#" class="text-white text-decoration-none">Terms</a></li>
              <li><a href="#" class="text-white text-decoration-none">Cookies</a></li>
              <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
