<!-- Background Image -->
<div class="bg-image">
    <!-- Use img-fluid class for responsive image -->
    <!-- <img src="assets/images/Hero.png" class="img-fluid" alt="Hero Image"> -->
    <div class="d-flex justify-content-center align-items-center w-100">
       <!-- Buttons -->
       <div class="d-flex flex-wrap justify-content-center gap-3">
        <a data-mdb-ripple-init class="btn btn-dark btn-lg d-flex align-items-center gap-2" 
           href="#" 
           role="button" 
           rel="nofollow" 
           target="_blank">
            <div style="display: flex; align-items: center; justify-content: center;">
                <i class="ri-send-plane-fill" style="font-size: 24px; color: rgb(255, 255, 255);"></i>
                Reach Us
            </div>
        </a>
        <a data-mdb-ripple-init class="btn btn-outline-dark btn-lg" 
           href="#" 
           target="_blank" 
           role="button">
            Learn More
        </a>
    </div>

    </div>
</div>


