<div class="container-body">
    <div class="container my-5">
        <div class="our">
            <div class="row align-items-center mb-5">
                <div class="col-md-6 text-center">
                    <img src="assets/images/image1.png" alt="AI-powered marketing" class="img-fluid rounded">
                </div>
                <div class="col-md-6">
                    <p class="head-p">Our Value Proposition</p>
                    <h3 class="section-title">Transform Customer Experience with Al-Powered Marketing</h3>
                    <p class="section-text">
                        Turn everyday interactions into lasting customer relationships using predictive AI and
                        intelligent
                        automation. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue augue in
                        porta
                        dictum. Aenean pretium libero ac justo dapibus, vitae aliquam sapien ornare. Aliquam porta enim
                        eu justo
                        aliquet placerat. Proin facilisis, odio porta mattis consequat, urna ligula volutpat turpis, at
                        porta
                        purus leo vel risus.
                    </p>
                    <button class="btn btn-primary">Explore Solutions <i class="ri-arrow-right-s-line"></i></button>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-md-6">
                    <p class="head-p">Our Mission</p>
                    <h3 class="section-title">Revolutionizing Business Growth Through Digital Innovation</h3>
                    <p class="section-text">
                        Turn everyday interactions into lasting customer relationships using predictive AI and 
                        intelligent automation. Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Nullam congue augue in porta dictum. 
                        Aenean pretium libero ac justo dapibus, vitae aliquam sapien ornare.
                         Aliquam porta enim eu justo aliquet placerat. 
                         Proin facilisis, odio porta mattis consequat, 
                         urna ligula volutpat turpis, at porta purus leo vel risus.
                    </p>
                    <button class="btn btn-secondary"> Know More About Us <i class="ri-arrow-right-s-line"></i></button>
                </div>
                <div class="col-md-6 text-center">
                    <img src="assets/images/image2.png" alt="Digital innovation" class="img-fluid rounded">
                </div>
            </div>
        </div>
    </div>
</div>