<div class="value-card py-6">
    <div class="value-header text-center mb-4">
        <p class="text-secondary mb-1">What our team has to say?</p>
        <h1 class="fw-bold">Testimony</h1>
    </div>

    <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Carousel Indicators -->

        <!-- Carousel Items -->
        <div class="carousel-inner">
            <div *ngFor="let item of data; let i = index" class="carousel-item" [class.active]="i === 0">
                <div class="card shadow-sm p-4 d-flex flex-column flex-md-row align-items-center shadow">
                    <!-- Left Section: Image and Details -->
                    <!-- <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
                        <img src="assets/images/testimonial1.jpg" alt="Logo"
                            class="img-fluid shadow-sm rounded mb-3 w-100" />
                        <p class="mb-1 fw-bold">{{ item.name }}</p>
                        <p class="text-muted small">{{ item.role }}</p>
                    </div> -->

                    <!-- Right Section: Quote & Description -->
                    <div class="col-md-8 text-center text-md-start responsive-text">
                        <div class="text-end">
                            <i class="ri-double-quotes-r fs-3"></i>
                        </div>
                        <h5 class="fw-bold mb-3">{{ item.quote }}</h5>
                        <p class="text-muted">{{ item.description }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carousel Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
            <span class="ri-arrow-left-line fs-3" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
            <span class="ri-arrow-right-line fs-3" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
